@model ProjetoSGP.Models.Recurso

@{
    ViewBag.Title = "Edit";
}

<form class="form-horizontal" id="formCadastroRecurso" name="formCadastroRecurso" method="post">

    @Html.AntiForgeryToken()
    <h2 style="color: black">Cadastrar Recurso</h2>

    <hr />

    @Html.HiddenFor(model => model.IdRecurso)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="nome" class="nome form-control" value="@Model.Nome" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="email" class="email form-control" value="@Model.Email" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="telefone" class="telefone form-control" value="@Model.Telefone" />
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left: 500px">
            <input type="submit" value="Cadastrar" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Cancelar", "Index")</button>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">

    $('.telefone').mask('(00) 0 0000-0000');

    $("#formCadastroRecurso").validate({

        rules: {

            nome: {

                required: true,
                maxlength: 100,
                minlength: 10,

            },

            email: {

                required: true,
                email: true

            },

            telefone: {

                required: true

            }

        }

    })
</script>