@model ProjetoSGP.Models.Projeto

@{
    ViewBag.Title = "Create";
}


<form class="form-horizontal" id="formCadastroRecurso" name="formCadastroRecurso" method="post">
    @Html.AntiForgeryToken()
    <h2 style="color: black">Cadastrar Projeto</h2>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control data" } })
                @Html.ValidationMessageFor(model => model.DataInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorContrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorContrato, new { htmlAttributes = new { @class = "form-control dinheiro", @placeholder = "R$ 0,00" } })
                @Html.ValidationMessageFor(model => model.ValorContrato, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left: 475px">
            <input type="submit" value="Cadastrar" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Voltar", "Index")</button>
        </div>
    </div>

</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js"></script>
-->

<script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>

<script>

    //$('.data').mask('00/00/0000');

    /*
    $('.dinheiro').maskMoney({
        prefix: "R$ ",
        thousands: ".",
        decimal: ",",
    });*/

</script>

