@model ProjetoSGP.Models.Projeto

@{
    ViewBag.Title = "Delete";
}

<h2 class="titulo-lista">Excluir Projeto</h2>

<div>
    <h4 style="text-align: center">Você tem certeza que deseja excluir este Projeto?</h4>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorContrato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorContrato)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />

        <div class="form-actions no-color" style="margin-left: 475px">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Cancelar", "Index")</button>
        </div>
    }
</div>

<style>
    dl dd {
        color: black;
        text-align: left;
    }

    .titulo-lista {
        position: relative;
        margin-right: 60px;
        color: black;
        text-align: center;
    }
</style>
