@model IEnumerable<ProjetoSGP.Models.Projeto>

@{
    ViewBag.Title = "Index";
}

<h2 class="titulo-lista">Lista dos Projetos</h2>
<p>
    @Html.ActionLink(" ", "Create", new { }, new { @class = "btn btn-success glyphicon glyphicon-plus add" })
</p>

<div class="tabela">
    <table class="table table-condensed table-hover">
        <tr class="cor-titulo" style="position: static">
            <th>
                @Html.DisplayNameFor(model => model.IdProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorContrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProjeto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorContrato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.IdProjeto }, new { @class = "btn btn-primary glyphicon glyphicon-edit edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.IdProjeto }, new { @class = "btn btn-warning glyphicon glyphicon-file" })
                    @Html.ActionLink(" ", "Delete", new { id = item.IdProjeto }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    @Html.ActionLink(" ", "Create", "Atividade", new { id = item.IdProjeto }, new { @class = "btn btn-success glyphicon glyphicon-plus" })
                </td>
            </tr>
        }

    </table>

</div>

<div style="text-align:center">
    <button class="btn btn-default">@Html.ActionLink("Voltar", "Index", "Home")</button>
</div>

<style>

    .add {
        margin-bottom: -50px;
    }

    .tabela {
        width: 100%;
        height: 380px;
        overflow: hidden;
        overflow-y: auto;
        margin: 40px auto -5px auto;
    }

    tr th, tr td {
        color: black;
        text-align: left;
    }


    .flutuar {
        float: left;
        margin-bottom: 5px;
        position: relative;
        top: 50px;
    }

    .titulo-lista {
        position: relative;
        margin-right: 60px;
        color: black;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    .cor-titulo {
        background: #F2F2F2;
        pointer-events: none;
    }
</style>


