@model IEnumerable<ProjetoSGP.Models.Projeto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorContrato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorContrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.IdProjeto }, new { @class = "btn btn-primary glyphicon glyphicon-edit edit" })
                @Html.ActionLink(" ", "Details", new { id = item.IdProjeto }, new { @class = "btn btn-warning glyphicon glyphicon-file" })
                @Html.ActionLink(" ", "Delete", new { id = item.IdProjeto }, new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                @Html.ActionLink(" ", "Create", "Atividade", new { id = item.IdProjeto }, new { @class = "btn btn-success glyphicon glyphicon-plus" })
                <a href="#" class="btn btn-success glyphicon glyphicon-plus create" data-value="@item.IdProjeto"> </a>
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudo-modal"></div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        $(".create").click(function () {
            var id = $(this).data("value");

            $("#conteudo-modal").load("/Atividade/Create/" + id, function () {

                $('#myModal').modal("show");

            });

        });

    });



</script>




