@model ProjetoSGP.Models.Atividade

@{
    ViewBag.Title = "Create";
}


<form class="form-horizontal" id="formCadastroRecurso" name="formCadastroRecurso" method="post">
    @Html.AntiForgeryToken()
    <h2 style="color: black">Cadastrar Atividade</h2>

    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="nome" class="nome form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="dataInicio" class="data form-control" placeholder="dd/MM/AAAA" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataTermino, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="dataTermino" class="data form-control" placeholder="dd/MM/AAAA" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdRecurso, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdRecurso", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdRecurso, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left: 500px">
            <input type="submit" value="Cadastrar" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Voltar", "Index")</button>
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $('.data').mask('00/00/0000');

     $("#formCadastroRecurso").validate({

        rules: {

            nome: {

                required: true,
                maxlength: 100,
                minlength: 10,

            },

            data: {

                required: true,
                date: true

            },

            telefone: {

                required: true

            }

        }

    })
    
</script>