@model ProjetoSGP.Models.Atividade

@{
    ViewBag.Title = "Edit";
}

<form class="form-horizontal" id="formCadastroRecurso" name="formCadastroRecurso" method="post">

    @Html.AntiForgeryToken()
    <h2 style="color: black">Editar Atividade</h2>

    <hr />
    @Html.HiddenFor(model => model.IdAtividade)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="nome" class="nome form-control" value="@Model.Nome"/>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataInicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="nome" class="data form-control" value="@Model.DataInicio" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataTermino, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" name="nome" class="data form-control" value="@Model.DataTermino" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdRecurso, "IdRecurso", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdRecurso", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdRecurso, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" style="margin-left: 500px">
            <input type="submit" value="Salvar" class="btn btn-default" /> |
            <button class="btn btn-default">@Html.ActionLink("Cancelar", "Index")</button>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $('.data').mask('00/00/0000');

</script>
