<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/messages_pt_BR.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/estilo.css">

</head>
<body style="background: #F2F2F2">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h2>Projeto SGP</h2>
        </div>
    </div>

    <div id="barra-lateral">
        <!--Itens de menu-->
        <div class="menu-item">
            <div class="item">
                <img src="~/Content/imagens/home.png" />
                @Html.ActionLink("Início", "Index", "Home")
            </div>
            <div class="item">
                <img src="~/Content/imagens/Recurso.png" />
                @Html.ActionLink("Recursos", "Index", "Recurso")
            </div>
            <div class="item">
                <img src="~/Content/imagens/projeto.png" />
                @Html.ActionLink("Projetos", "Index", "Projeto")
            </div>
        </div>
    </div>

    <div class="container body-content margem-titulo">

        @RenderBody()
 
        <footer id="rodape">
            <p>&copy; @DateTime.Now.Year - Bruno Salvador Pereira</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
